{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Suppliers{% endblock %}</h1>
  <a class="add_supplier" href="{{ url_for('supplier_register')}}">Add Supplier</a>
{% endblock %}

{% block content %}
  {% for supplier in suppliers %}
    <article class="post">
      <header>
        <div>
          <h1>{{ supplier['name'] }}</h1>
          <div class="about">{{ supplier['tin'] }}</div>
        </div>
        <form action="{{ url_for('supplier_delete', TIN=supplier['tin']) }}" method="post">
          <input class="remove" type="submit" value="Remove" onclick="return confirm('Are you sure?');">
        </form>
      </header>
      {% if supplier['address'] %}
        <p class="body">Address: <span class="info">{{ supplier['address'] }}</span></p>
      {% endif %}
        <p class="body">Product supplied: <span class="info">{{ supplier['sku'] }}</span></p>
      {% if supplier['date'] %}
        <p class="body">Date of last supply: <span class="info">{{ supplier['date'] }}</span></p>
      {% endif %}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}