{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Suppliers{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for supplier in suppliers %}
    <article class="post">
      <header>
        <div>
          <h1>{{ supplier['name'] }}</h1>
          <div class="about">{{ supplier['tin'] }}</div>
        </div>
        <form action="{{ url_for('supplier_delete', TIN=supplier['tin']) }}" method="post">
          <input class="danger" type="submit" value="Remove" onclick="return confirm('Are you sure?');">
        </form>
      </header>
      <p class="body">Address: {{ supplier['address'] }}</p>
      <p class="body">Product supplied: {{ supplier['sku'] }}</p>
      <p class="body">Date of last supply: {{ supplier['date'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}