html {
  font-family: "Inter";
  background: #eee;
  padding: 1rem;
}

body {
  max-width: 960px;
  margin: 0 auto;
  background: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Inter";
  color: #090F1C;   #cor do texto no corpo principal aqui
  margin: 1rem 0;
  font-weight: 700;
    line-height: 19px;
}


hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: #C9291F;
  display: flex;
  align-items: center;
  padding: 1.5rem;
  box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.34);
  border-radius: 5px;
}

nav h1 {
  color: white;
  flex: auto;
  margin: 0;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;

}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav a{
  color: white;
  text-decoration:none;
  transition: transform 0.2s ease-in-out;
}

nav a:hover{
    transform: translateY(-3px);
}


nav ul  {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a, nav ul li span, header .action {
  display: block;
  padding: 0.5rem;
}

.edit {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background: #2B2A4C;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit:hover {
  background-color: #23527c;
}

.edit:focus {
  outline: none;
}

.edit:active {
  background-color: #1e496e;
}

.price{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-bottom:4px;

    color: #2B2A4C;
}

.ean{
    margin:0px;
    padding:0px;
   font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    color: #797897;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

#submit_rect{
    width:227px;
    height:108px;
    background: #F9F7F7;
    border: 1px solid #000000;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 17px;
    border-radius:3px;
}

label #who {
    margin:auto;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    
}


.submit {
  margin-bottom
  width: 139px;
  height: 27px;
  background: #DC5DD7;
  border-radius: 38px;
  padding: 0px 15px 0px 15px;
  background-color: #DC5DD7;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  text-align: center
  font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.submit:hover {
  background-color: #C861C4;
}

.submit:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.5);
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid #377ba8;
}

.post > header {
  display: flex;
  align-items: flex-end;
  font-size: 0.85em;
}

.post > header > div:first-of-type {
  flex: auto;
}

.post > header h1 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.post .about {
  color: #2B2A4C;
  font-style: italic;
}

.post .body {
    
  white-space: pre-line;
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input, .content textarea {
  margin-bottom: 1em;
}

.content textarea {
  min-height: 12em;
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type=submit] {
  align-self: start;
  min-width: 10em;
}



.add_product, .add_customer, .add_supplier {
  text-align: center;
  text-decoration: none;
  padding: 3px 5px 3px 5px;
  margin-bottom:6px;
  color: white;
  border: 2px #090F1C solid;
  border-radius: 6px;
  background-color: #090F1C;
  transition: transform 0.5s ease-out;
}

.add_product:hover, .add_customer:hover, .add_supplier:hover {
  transform: scale(1.1);
}

.last_line_product{
    display: flex;
    flex-direction: horizontal;
    align-items:center;
    justify-content:space-between;
    
    border-bottom: 1px solid black;
}

.qty{
    padding-top:6px;
    position:relative;
}

.qty input[type="number"] {
    width: 40px;
    position: relative;
}


.remove {
    background: linear-gradient(180deg, #C9291F 0%, rgba(181, 60, 53, 0.85) 100%);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    /* Add any other desired styles */
  }


/* Hide the default checkbox appearance */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 20px;
  width: 20px;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  transition: width 0.2s, height 0.2s;
}

/* Customize the checkbox when checked */
input[type="checkbox"]:checked {
  background-color: #333;
  border-color: #000;
}

input[type="checkbox"]:hover {
  width: 23px;
  height: 23px;
}

/* Style the checkmark */
input[type="checkbox"]::before {
  content: "X";
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  transform: rotate(45deg) translateY(-1px);
}

/* Customize the checkmark when checkbox is checked */
input[type="checkbox"]:checked::before {
  content: "";
}

.products{
    font-weight: 600;
    font-size: 1.2em;
    line-height: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:45px;
}

.last_ord{
    display:flex;
    flex-direction:horizontal;
    justify-content: space-between;
}

.date{
}


.pay_ord {
    background: #2B2A4C;
    border-radius: 10px;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    padding: auto;
    width: 74px;
    height: 59px;
    line-height: 59px; 
    transition: background 1.0s ease, transform 0.3s ease;    
  }

  .pay_ord:hover {
    background: linear-gradient(180deg, #121128 0%, rgba(20, 19, 48, 0.68) 100%);
    transform: scale(1.1);
  }

.save-button {
    background-color: #2B2A4C;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .save-button:hover {
    background-color: #0056b3;
  }

  .save-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #0056b3;
  }


.remove_reg {
    background: linear-gradient(180deg, #C9291F 0%, rgba(181, 60, 53, 0.85) 100%);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    /* Add any other desired styles */
  }

  .remove_reg:hover {
    background-color: #0056b3;
  }

  .remove_reg:focus {
    outline: none;
    box-shadow: 0 0 0 2px #0056b3;
  }