{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Products{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for product in products %}
    <article class="post">
      <header>
        <div>
          <h1>{{ product['name'] }}</h1>
          <div class="about">{{ product['sku'] }}</div>
        </div>
        <a class="action" href="{{ url_for('product_update', sku=product['sku']) }}">Edit</a>
      </header>
      <p class="body">{{ product['description'] }}</p>
      <p class="body">€ {{ product['price'] }}</p>
      <p class="body">EAN: {{ product['ean'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
