{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Customers{% endblock %}</h1>
    <a class="add_customer" href="{{ url_for('customer_register')}}">Add Customer</a>
{% endblock %}

{% block content %}
  {% for customer in customers %}
    <article class="post">
      <header>
        <div>
          <h1>{{ customer['cust_no'] }}. <span>{{ customer['name'] }}</span></h1>
          
        </div>
        <form action="{{ url_for('customer_delete', cust_no=customer['cust_no']) }}" method="post">
          <input class="remove" type="submit" value="Remove" onclick="return confirm('Are you sure?');">
        </form>
      </header>
        <p class="body">Email: <span class="info" >{{ customer['email'] }}</span></p>
      {% if customer['phone']%}
          <p class="body">Phone: <span class="info" >{{ customer['phone'] }}</span></p>
      {% endif %}
      {% if customer['phone']%}
          <p class="body">Address: <span class="info" >{{ customer['address'] }}</span></p>
      {% endif %}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
