{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Customers{% endblock %}</h1>
    <a class="add_customer" href="{{ url_for('customer_register')}}">Add Customer</a>
{% endblock %}

{% block content %}
  {% for customer in customers %}
    <article class="post">
      <header>
        <div>
          <h1>{{ customer['cust_no'] }}</h1>
          <div class="about">{{ customer['name'] }}</div>
        </div>
        <form action="{{ url_for('customer_delete', cust_no=customer['cust_no']) }}" method="post">
          <input class="danger" type="submit" value="Remove" onclick="return confirm('Are you sure?');">
        </form>
      </header>
      <p class="body">email: {{ customer['email'] }}</p>
      {% if customer['phone']%}
          <p class="body">phone: {{ customer['phone'] }}</p>
      {% endif %}
      {% if customer['phone']%}
          <p class="body">address: {{ customer['address'] }}</p>
      {% endif %}
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
