{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Add Product{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="sku">SKU *</label>
    <input name="sku" id="sku" type="text" placeholder="SKU00000" value="{{ request.form['sku'] }}" required>
    
    <label for="name">Name *</label>
    <input name="name" id="name" type="text" placeholder="Name" value="{{ request.form['name'] }}" required>
    
    <label for="description">Description</label>
    <input name="description" id="description" type="text" placeholder="Description" value="{{ request.form['description'] }}" >

    <label for="price">Price *</label>
    <input name="price" id="price" type="number" min="0" step="0.01" placeholder="0.00" value="{{ request.form['price']}}" required>
    
    <label for="ean">EAN</label>
    <input name="ean" id="ean" type="number" min="0" placeholder="EAN" value="{{ request.form['ean']}}" >

    <input class="save-button" type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('product_index') }}" method="">
    <input class="remove_reg" type="submit" value="Cancel" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}